In [61]:
import pandas as pd
import numpy as np
from timeit import timeit
from datetime import datetime, date, time, timedelta

import time

from FileLoad import Final_Load
from Skills import complex_skills

today = date.today()
tomorrow = (today + timedelta(days = 1)).strftime("%Y-%m-%d")
tomorrow

'2021-07-03'

In [3]:
### Get data and mutate
df0 = Final_Load()

# name_sort = {'Escalated':0, 'Unscheduled':1,'PNP Released':2,'Past Due':3,'Scheduled':4}
# rm_sort = {'EMR Remote': 0, 'HIH - Other': 1, 'Onsite':2,'Offsite':3}
# age_sort = {21: 0, 0: 1, 20:2, 15:3, 10:4, 5:5}

# df0['name_sort'] = df0['Outreach Status'].map(name_sort)
# df0['rm_sort'] = df0['Retrieval Group'].map(rm_sort)
# df0['age_sort'] = df0['Group Number'].map(age_sort)

# # df0['ORG_list'] = 0
# df0['ORG Stat'] = 0 

# df_dummy_status = pd.get_dummies(df0['Outreach Status'])
# df_dummy_age = pd.get_dummies(df0['Group Number'])
# df1 = df0.join(df_dummy_status).join(df_dummy_age)

# ### Unique Numbers count and status
# df2 = df1.groupby(['PhoneNumber']).agg({'PhoneNumber':'count',21:'sum', 0:'sum', 20:'sum', 15:'sum', 10:'sum', 5:'sum','Cluster':'mean','Escalated':'sum','PNP Released':'sum','Past Due':'sum','Scheduled':'sum','Unscheduled':'sum',}).rename(columns={'PhoneNumber':'OutreachID Count','Cluster':'Cluster_Avg'})
# df2 = df2.reset_index()

# ### Add info to main line and reskill
# df3 = pd.merge(df0,df2, on='PhoneNumber')
# df3 = complex_skills(df3)

# ### Sort Order and drop Dups
# df4 = df3.sort_values(by = ['rm_sort', 'name_sort','age_sort', 'Unscheduled', 'Cluster_Avg'], ascending= [True,True, True, False, True]).reset_index(drop = True)

# df4 = df4.drop_duplicates(['PhoneNumber']).reset_index(drop = True)
# df4['ORG Stat'] = 1

Skipping line 87257: field larger than field limit (1000)
Skipping line 88035: field larger than field limit (1000)
Skipping line 200903: field larger than field limit (1000)
Skipping line 279002: field larger than field limit (1000)
Skipping line 281492: field larger than field limit (1000)
Skipping line 290627: field larger than field limit (1000)
Skipping line 290647: field larger than field limit (1000)
Skipping line 292711: field larger than field limit (1000)

In [52]:
def Date_Bins(df):
    df0 = df
    q4 = max(df0['Project Due Date'])
    q0 = min(df0['Project Due Date'])
    q2 = q0 + (q4 - q0)/2
    q1 = q0 + (q2 - q0)/2
    q3 = q2 + (q4 - q2)/2
    bins = [q0,q1,q2,q3,q4]
    labels = list('1234')
    df0['Month Bin'] = pd.cut(df0['Project Due Date'], bins, labels=labels, include_lowest=True, right = True)
    return df0
df0['Date Bin'].value_counts()
# df0['Project Due Date'].sort_values()

3    186356
1     83865
2     15202
4      5021
Name: Month Bin, dtype: int64

In [25]:
df0['Project Due Date'] = pd.to_datetime(df0['Project Due Date'])
df0['Project Due Date']

0        2021-07-06
1        2021-07-09
2        2021-07-09
3        2021-07-06
4        2021-07-06
            ...
303425   2021-07-11
303426   2021-07-06
303427   2021-09-27
303428   2022-04-25
303429   2021-07-11
Name: Project Due Date, Length: 290444, dtype: datetime64[ns]

In [62]:
my_date = today
my_datetime = datetime(my_date.year, my_date.month, my_date.day)

Sprint = 10
letters = [my_datetime + datetime.timedelta(days=idx) for idx in range(Sprint)]

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [71]:
dayDates = []
list1 = []
today = datetime.now()
dayDates.append(today.strftime("%m%d%Y"))
for i in range(0,14):
    list1.append((today + timedelta(days=i)).strftime("%m-%d"))
list1

['07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15']

In [9]:
df0['ORG list']

0                                         19863200|25618810
1                                19876666|24062010|25843036
2                       19881386|24023218|25828666|26248628
3                                         19881768|24028460
4         19882776|20461047|21605771|23233945|23770270|2...
                                ...
305370                                    25691517|27022307
305371                                             27022312
305372                                    26409642|27022319
305373                                             27022328
305374                                             27022329
Name: ORG list, Length: 294283, dtype: object

In [94]:
### Concat Column for ORGs to Unique Numbers
Phone_List = df4[df4['OutreachID Count'] > 1]['PhoneNumber']
df_clean = df0[['OutreachID', 'PhoneNumber']]
df_phone = pd.DataFrame()
new_row = pd.DataFrame()

In [95]:
def phone(number):
    df1 = df_clean[df_clean['PhoneNumber'] == number]['OutreachID'].tolist()
    string_ORG = ""
    for i in df1:
        string_ORG = string_ORG +str(i) +'|'
    new_row = [[number, string_ORG]]
    return new_row

In [97]:
# phone(8008604230)

In [89]:
startTime_1 = time.time()

for i in Phone_List:
    df_phone = df_phone.append(phone(i), ignore_index=True)

executionTime_1 = (time.time() - startTime_1)
print("-----------------------------------------------")
print('Time: ' + str(executionTime_1))
print("-----------------------------------------------")

-----------------------------------------------
Time: 355.47213912010193
-----------------------------------------------

In [93]:
df_phone

Empty DataFrame
Columns: []
Index: []

In [44]:
# df_phone['Cat ORGs'] = df_phone['Cat ORGs'].str.rstrip('dtype: object')#.str[3:]
%timeit
df_phone['Cat ORGs'] = df_phone['Cat ORGs']

        PhoneNumber                                           Cat ORGs
0      9.375231e+09  0    22093445|23241175|23241895|23242715|23812...
1      4.192273e+09  0    23836901|24321202|24985548|25354434|25555...
2      2.709655e+09  0    24313824|25318568|25406491|25600728|26035...
3      4.195178e+09              0    22299060|25263160|
dtype: object
4      8.647203e+09  0    24763773|25396363|25979483|25979836|25979...
...             ...                                                ...
59348  4.053309e+09              0    26470629|26473861|
dtype: object
59349  4.056924e+09              0    26471092|26471887|
dtype: object
59350  6.418121e+09              0    26472470|26472550|
dtype: object
59351  9.128197e+09     0    26474226|26475347|26475351|
dtype: object
59352  2.013456e+09     0    26478058|26478082|26478092|
dtype: object

[59353 rows x 2 columns]

In [37]:
len('| dtype: object')
%timeit

In [ ]:
os.getcwd()

In [ ]:
# df_phone.to_csv('df_phone.csv', index=False)
def Assign_Map(df):
    Sprint = 10

    df_len = len(df.index)
    group_size = df_len // Sprint 
    letters = list(string.ascii_uppercase)[:Sprint] * group_size
    letters.sort()
    Daily_Priority = pd.DataFrame(letters, columns=['Daily_Groups'])
    add_back = df_len - len(Daily_Priority)
    Daily_Priority = Daily_Priority.append(Daily_Priority.iloc[[-1]*add_back]).reset_index(drop=True)
    df = df.join(Daily_Priority)
    df = [['OutreachID', 'Daily_Groups']]

    path2 = 'C:\\Users\\ARoethe\\OneDrive - CIOX Health\\Aaron\\Projects\\Call Campaign Automation\\Table_Drops\\'
    df.to_csv(path2 + 'Assign_Map.csv', index=False)